{% extends "base.html" %}
{% block heading %}Bookshelf{% endblock %}

{% block toc %}
{% for section in sections %}
<a href="#{{ section.title }}">{{ section.title }}</a>
{% endfor %}
{% endblock %}

{% block content %}
{% for section in sections %}
<section>
    <h2>
        {{ section.title }}
    </h2>
    <div class="text-xl">
    <p>
        {{ section.subtitle }}
    </p>
    <ul class="flex flex-wrap max-w-max mr-8" role="list">
        {% for entry in section.content %}
        <li class="outline outline-2 outline-green-700 w-full max-w-prose m-4 p-2 rounded-lg">
            <a class="text-xl" target="_blank" href="{{ entry.href }}">{{ entry.title }}</a>
            <br>
            <p class="text-lg">
                {{ entry.description }}
            </p>
        </li>
        {% endfor %}
    </ul>
    </div>
</section>
{% endfor %}
{% endblock %}